body {
    text-align: center;
    background-color: #a8a38d;
  }

  div {
    margin-top: 15px;
  }

  
  .image-section {
    display: flex;
    justify-content: center;
  }

  .section-style {
margin-right: 10px;
margin-left: 10px;
background-Color: white;
  }